<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/syntax.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
        <title>{{block "title" .}}{{ .Site.Title }}{{end}}</title>
    </head>

    <body class="layout">

      <header class="layout__header header">
        <a href="/" class="header__logo">binarin.ru</a>
        <nav class="header__nav">
            <a href="/page/wishlist" class="header__link">Wishlist</a>
            <a href="/recipe/" class="header__link">Recipes</a>
            <a href="/page/about/" class="header__link">About</a>
        </nav>
      </header>

      <div class="layout__main main">
        <main class="main__content">
        {{ block "main" . }}
        Main Part
        {{ end }}
        </main>
        <nav class="main__nav">
        </nav>
        <aside class="main__aside">
        </aside>
      </div>

      <footer class="layout__footer">
        © 2018 Alexey Lebedeff
      </footer>
    </body>
</html>
