{{/* -*- engine: go -*- */}}
{{define "main"}}

{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

<div class="post-list">
    <div class="post-list__posts">
        {{ range $paginator.Pages }}
            <div class="post-list__post">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ .Summary }}
                {{ if .Truncated }}
                    <a class="post-list__read-more" href="{{ .Permalink }}">Read more…</a>
                {{ end }}
            </div>
        {{ end }}
    </div>

    <div class="post-list__pager">
        {{ if $paginator.HasNext }}
            <span><a class="post-list__pager-older" href="{{ $paginator.Next.URL }}">⇦ Older</a></span>
        {{ else }}
            <span class="post-list__pager-older">⇦ Older</span>
        {{ end }}

        {{ if $paginator.HasPrev }}
            <a class="post-list__pager-newer" href="{{ $paginator.Prev.URL }}">Newer ⇨</a>
        {{ else }}
            <span class="post-list__pager-newer">Newer ⇨</span>
        {{ end }}
    </div>
</div>

{{end}}
