.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.layout__header {
  padding: 10px;
  background-color: #24292e;
  color: rgba(255, 255, 255, 0.75);
}
.layout__main {
  flex-grow: 1;
}
.layout__footer {
  padding: 10px;
  background-color: #24292e;
  color: rgba(255, 255, 255, 0.75);
}
.main {
  display: flex;
  flex-direction: column;
}
.main__nav {
  order: -1;
}
@media (min-width: 768px) {
  .main {
    flex-direction: row;
    flex: 1;
  }
  .main__content {
    flex: 1;
  }
  .main__nav,
  .main__aside {
    flex: 0 0 12em;
  }
}
