<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$ - binarin.ru</title>
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>

    <header class="main-header">
      <div class="logo">
        <a href="/">binarin.ru</a>
      </div>
      <nav class="top-nav">
        <ul class="top-nav__items">
          <li class="top-nav__item"><a href="/about.html">About me</a></li>
        </ul>
      </nav>
    </header>

    <section class="content">
      <h1>$title$</h1>
      $body$
    </section>

    <footer class="main-footer">
      <span class="copyright">
        ©2017 Alexey Lebedeff
      </span>
    </footer>

  </body>
</html>
